body {
    font-family: 'Poppins', sans-serif;
    background-color: #050816;
  }
  
.home{
  overflow: hidden;
}

  #header {
    min-height: 80%;
  }
  .navbar {
    padding-top: 0!important;
    padding-bottom: 0!important;
  }

  .navbar-nav .nav-item .nav-link {
    color: rgba(170, 166, 195, 1)!important;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  .navbar-text{
    color: white!important;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #fff;
  }
  


    /* ----------------------------------------------------------------- */
   /* ----------------------------  Header  --------------------------- */
   /* ------------------------------------------------------------------ */
  .violet-gradient {
    background: linear-gradient(to bottom, #915eff, #0f022e);
  }
  .bg-primary-c {
    background-color: #915eff;
  }
  .card {
    width: 350px;
    height: 500px;
  }
 
         
    .btn-grad {
      background-image: linear-gradient(to right, #614385 0%, #516395  51%, #614385  100%);
      margin: 10px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;            
      /* box-shadow: 0 0 20px #eee; */
      border-radius: 10px;
      display: block;
    }

    .btn-grad:hover {
      background-position: right center; /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
   
  
  
  /* Font size and line-height for different screen sizes */
@media (min-width: 1280px) {
  .lg-text-80px { font-size: 80px; line-height: 98px; }
  .lg-text-60px { font-size: 60px; line-height: 78px; }
  .lg-text-50px { font-size: 50px; line-height: 68px; }
  .lg-text-30px { font-size: 30px; line-height: 40px; }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .md-text-60px { font-size: 60px; line-height: 78px; }
  .md-text-26px { font-size: 26px; line-height: 36px; }
}

@media (max-width: 767px) and (min-width: 576px) {
  .sm-text-50px { font-size: 50px; line-height: 68px; }
  .sm-text-20px { font-size: 20px; line-height: 28px; }
}

@media (max-width: 575px) {
  .text-40px { font-size: 40px; line-height: 48px; }
  .text-16px { font-size: 16px; line-height: 24px; }
}

/* Custom colors */
.text-purple { color: #915eff; }
.text-white { color: #fff; }
.text-gray { color: #dfd9ff; }

/* Font styles */
.font-black { font-weight: 900; }
.font-medium { font-weight: 500; }

/* Heading styles */
.h5 { font-size: 1.25rem; line-height: 1.25; }
.display-1 { font-size: 6rem; line-height: 1.2; }





.animate__animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}
.animate__fadeInBottom {
  animation-name: fadeInBottom;
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }
  to {
      opacity: 1;
      transform: translateX(-30%);
      transform: translateY(-20%);
  }
}

@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translateY(100%);
      transform: translateX(0);

  }
  to {
      opacity: 1;
      transform: translateY(0);
      transform: translateX(4%);

  }
  
}
@keyframes fadeInBottom {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
  
}



    /* ----------------------------------------------------------------- */
   /* ----------------------------  Scroll down  --------------------------- */
   /* ------------------------------------------------------------------ */
 
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 150px;
  }
  
  .arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;	
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {	
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }



